body {
	font-family: 'Rasa', serif;
	font-weight: 400;
	margin: 0;
	
	min-height: 100%;
	position:relative
	
  }
  body::after {
	content: '';
	display: block;
	height: 50px; /* Set same as footer's height */
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
  }
  
  button {
	background: none;
	border: 1px solid black;
	padding: 0.5rem 1rem;
	font-family: 'Barlow', sans-serif;
	font-weight: 600;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 3px;
  }
  
  .navLink {
	text-decoration: none;
	color: black;
	font-weight: 500;
    font-size: 16px;
  }
  
  
  .text-important {
	color: rgb(255, 205, 0);
	font-size: 45px;
  }
  
  /* Header */
  
  header {
	z-index: 1;
	display: flex;
	position: sticky;
	top: 0;
	background: white;
	justify-content: space-between;
	padding: 0 20px;
	align-items: center;
	border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  }
  
  /*header > ul */
  .navmenu {
	list-style: none;
	display: flex;
	width: 50%;
	justify-content: space-around;
  }
  
  .navmenu a:hover {
	color: rgb(255, 205, 0);
  }
  .navmenu a:focus {
	color: rgb(255, 205, 0);
  }
  :target {
	color: rgb(255, 205, 0);
  }
  /* section 1   */
  #about-me {
	display: flex;
	padding: 35px;
	justify-content: space-around;
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.168);
	
  }
  
  .avatar {
	border-radius: 50%;
	width: 316px;
	height: 316px;
	border-style: groove
  }

  .avatar-profile{
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  .info-avatar{
	width: 50%;
  }
  .CordAvatar{
	  display: flex;
	  justify-content: space-around;
	  align-items: center;
  }
  .CordAvatarEnt{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

  /*Projects  */
  #projects {
	border-bottom: 1px solid rgba(0, 0, 0, 0.168);
  }
  #projects h2 {
	text-align: center;
  }
  
  .projects-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }
  
  .project-card {
	cursor: pointer;
	width: 300px;
	/* margin : top/bottom  left/right  */
	margin: 10px 15px;
	border: 1px solid rgba(0, 0, 0, 0.171);
	display: flex;
	flex-direction: column;
	align-items: center;
	
	
  }
  
  .project-card h3 {
	padding-left: 18px;
	margin-bottom: 0;
  }
  
  .project-card a {
	color: rgb(255, 205, 0);
	text-decoration: none;
  }
  
  .project-card p {
	padding: 10px;
	margin: 0;
  }
  .imgP-project-card{
	border-radius: 50%;
	width: 87px;
	height: 87px;
	border-style: groove
}
  .icon-project-card {
	width: 35px;
    height: 35px;
  }
  .project-card-PartM{
	margin-left: 34px;
  }
  .project-card-Part{
	  display: flex;
	  align-items: center;
	 
	  
	 
  }
  .des-project-card{
	  display:flex;
	  justify-content: space-between;
	  align-items: center;
	  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }
  .desPost-project-card{
	display:flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	width: 1050px;
    height: 180px;
}
.desPostCord-project-card{
	display: flex;
	align-items: center;
	
}
.imgPost-project-card{
	border-radius: 50%;
	width: 150px;
	height: 150px;
	border-style: groove
}
  .img-project-card{
	border-radius: 50%;
	width: 316px;
	border-style: groove
}

  /*Contact me  */
  #contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.171);
  }
  #contact h2 {
	text-align: center;
  }
  #LinkText{
	text-decoration: none;
	color: rgb(255, 205, 0);
  }
  #contact form {
	display: flex;
	flex-direction: column;
	
	margin: 20px auto;
	width: 50%;
  }
  #contact form > button {
	align-self: center;
	margin-top: 15px;
	color: rgb(255, 205, 0);
  }
  #contact form > button:hover {
	color: white;
	background-color: black;
  }

  /*Footer*/
  Footer {
	text-align: center;
	background-color: black;
	color: white;
	padding: 15px;
	width:100%;
	height: 50px; 
	clear: both;
    position: absolute;
   bottom: 0;
  
  }

  /* html {
	height:100vh;
} */
  .iconMod{
	  width : 30px
  }
  .dotMenu{
	background: none; 
	border: none;
	font-size: 30px;
	margin-left: 1386px
	
  }
